In [10]:
import warnings
warnings.filterwarnings('ignore')
import requests
from bs4 import BeautifulSoup

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='whitegrid', context='notebook')
# sns.reset_orig()

import pandas as pd
import numpy as np
import scipy as sp
import scipy.io

In [9]:
df = pd.DataFrame(data={'y': [1, 2, 3],
                       'score': [93.5, 89.4, 90.3],
                       'name': ['Dirac', 'Pauli', 'Bohr'],
                       'birthday': ['1902-08-08', '1900-04-25', '1885-10-07']})
print(type(df))
print(df.dtypes)
df

<class 'pandas.core.frame.DataFrame'>
birthday     object
name         object
score       float64
y             int64
dtype: object

     birthday   name  score  y
0  1902-08-08  Dirac   93.5  1
1  1900-04-25  Pauli   89.4  2
2  1885-10-07   Bohr   90.3  3

In [11]:
items = pd.Series(data=[93.5, 89.4, 90.3], name='score')
print(type(items))
items

<class 'pandas.core.series.Series'>

0    93.5
1    89.4
2    90.3
Name: score, dtype: float64

In [12]:
items2 = pd.Series(data=['1902-08-08', '1900-04-25'], name='birthday')

print('merged items along index axes:')
print(pd.concat(objs=[items, items2], axis=0))
print('')
print('merged items along column axes:')
print(pd.concat(objs=[items, items2], axis=1))

merged items along index axes:
0          93.5
1          89.4
2          90.3
0    1902-08-08
1    1900-04-25
dtype: object

merged items along column axes:
   score    birthday
0   93.5  1902-08-08
1   89.4  1900-04-25
2   90.3         NaN

In [13]:
pd.to_datetime(arg=df.birthday, format='%Y-%m-%d')

0            1902-08-08
1            1900-04-25
2   1885-10-07 00:00:00
Name: birthday, dtype: datetime64[ns]

In [25]:
df_new = pd.DataFrame(data=list(zip(['Dirac', 'Pauli', 'Bohr', 'Einstein'],
                                    [True, False, True, True])),
                      columns=['name', 'friendly'])
print type(df_new)
print df_new.dtypes

<class 'pandas.core.frame.DataFrame'>
name        object
friendly      bool
dtype: object

In [22]:
df_new = pd.DataFrame(data=list(zip(['Dirac', 'Pauli', 'Bohr', 'Einstein'],
                                    [True, False, True, True])),
                      columns=['name', 'friendly'])

df_merge = pd.merge(left=df, right=df_new, on='name', how='outer')
df_merge

     birthday      name  score    y friendly
0  1902-08-08     Dirac   93.5  1.0     True
1  1900-04-25     Pauli   89.4  2.0    False
2  1885-10-07      Bohr   90.3  3.0     True
3         NaN  Einstein    NaN  NaN     True

In [23]:
pd.date_range(start=df.birthday[2], end=df.birthday[0],
              freq='M')

DatetimeIndex(['1885-10-31', '1885-11-30', '1885-12-31', '1886-01-31',
               '1886-02-28', '1886-03-31', '1886-04-30', '1886-05-31',
               '1886-06-30', '1886-07-31',
               ...
               '1901-10-31', '1901-11-30', '1901-12-31', '1902-01-31',
               '1902-02-28', '1902-03-31', '1902-04-30', '1902-05-31',
               '1902-06-30', '1902-07-31'],
              dtype='datetime64[ns]', length=202, freq='M')

In [24]:
dfa = pd.DataFrame({'a': [1.0, 2.0],
                    'b': ['apple', 'cat']})

dfb = pd.DataFrame({'a': [1.0, 2.0],
                    'b': ['apple', 'dog']})

pd.util.testing.assert_frame_equal(dfa, dfb)

AssertionError: DataFrame.iloc[:, 1] are different

DataFrame.iloc[:, 1] values are different (50.0 %)
[left]:  [apple, cat]
[right]: [apple, dog]

In [32]:
import pandas as pd
pd.__version__

u'0.18.1'